<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="Designing Tomorrow" />
<meta name="twitter:creator" content="@tallesteden" />
<meta property="og:url" content="www.designingtomorrow.io" />
<meta property="og:title" content="Designing Tomorrow" />
<meta property="og:description" content="{%- if description -%}{{ description }}{%- else -%}A handbook to help you think about, and design, tomorrow{%- endif -%}" />
<meta property="og:image" content='https://designingtomorrows.io/images/wideFuture2.jpg' />
<link rel="icon" type="image/x-icon" href="	https://designingtomorrows.io/images/favicon.ico">
