<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>{{ title }}</title>
    {% include "social.njk" %}
  </head>
  <body id="mainBody">
    <p id="homeLink"><a href="/"> Go Home</a><span>🚀</span></p>
    {% include "navigation-links.njk" %}
    <div class="pageContent leading-relaxed">
    <div class="mainContent">
    <h2 id="pageTitle">{{title}}</h2>
      {{ content | safe }}
      <section class="contentSlice sideBySide">
<h2>Continue exploring backpacks, devices, and trains</h2>
  <div class="methodRow">
    <a href="pages/devices/backcasting" class="methodBox">
      <h4 class="lower">Backcasting</h4>
      <span>The cool sister of forecasting, starting from the future and working back 😎</span>
    </a>
    <a href="#" class="methodBox"> 
      <h4 class="lower">Four Futures</h4>
      <span>Laying out the crossroads of our futures and focusing on the desirable ones</span>
    </a>
  </div>
  <div class="methodRow">
    <a href="#" class="methodBox"> 
      <h4 class="lower">Speculative Toursim</h4>
      <span>An invitation to imagine the geographically possible</span>
    </a>
    <a href="pages/devices/backpackdevice" class="methodBox"> 
      <h4 class="lower">The Backpack and The Device</h4>
      <span>What devices can be found in the backpacks of our future selves?</span>
    </a>
  </div>
  </section>
    </div>
    </div>
    {% include "footer.njk" %}
    {% set js %}
      {% include "js/page.js" %}
    {% endset %}
    <script src="https://cdn.jsdelivr.net/npm/anchor-js/anchor.min.js"></script>
    <script>{{ js | jsmin | safe }}</script>
  </body>
</html>