@import "tailwindcss/base";

* {
  margin: 0;
}

html {
  height: 100%;
}

body {
  background-color: #fff;
  height: 100%;
}

#mainWrapper {
  display: -webkit-box;
  display: flex;
  height: 100%;
}

#mainSidebar {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  background-color: #CA9082;
  padding-top: 6rem;
  font-family: Montserrat, Helvetica;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  -webkit-box-flex: 1;
          flex: 1;
}

#mainSidebar div {
  color: #0e141f;
  width: 100%;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  font-size: 2.25rem;
  margin-bottom: 2.5rem;
}

#mainContent {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  background-color: #114457;
  height: 100%;
  -webkit-box-flex: 6;
          flex: 6;
}

#pageContent {
  font-family: Montserrat, Helvetica;
  padding-left: 2.5rem;
  text-align: center;
  height: auto;
}

#pageContent h1 {
  font-size: 4rem;
  color: #00BABA;
  margin-top: 5rem;
}

#pageContent h2 {
  font-size: 2.25rem;
  color: #00BABA;
  margin-top: 5rem;
}

#pageContent p {
  font-family: Montserrat, Helvetica;
  text-align: left;
  font-size: 1.5rem;
  color: #CA9082;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

#contentHeader {
  width: 100%;
  height: 400px;
  background: url(https://github.com/EdenKupe/notTheSky/blob/master/img/tree.jpg?raw=true);
  background-position: center;
}

/*pulse stuff*/

/* Make the element pulse (grow large and small slowly) */

/* Usage
    .myElement {
        animation: pulsate 1s ease-out;
        animation-iteration-count: infinite;
        opacity: 1; 
    }
*/

@-webkit-keyframes pulsate {
  0% {
    -webkit-transform: scale(0.1, 0.1); opacity: 0.0;
  }

  50% {
    opacity: 1.0;
  }

  100% {
    -webkit-transform: scale(1.2, 1.2); opacity: 0.0;
  }
}

/* Make the element's opacity pulse*/

/* Usage
    .myElement {
        animation: opacityPulse 1s ease-out;
        animation-iteration-count: infinite;
        opacity: 0; 
    }
*/

@-webkit-keyframes opacityPulse {
  0% {
    opacity: 0.0;
  }

  50% {
    opacity: 1.0;
  }

  100% {
    opacity: 0.0;
  }
}

/* Make the element's background pulse. I call this alertPulse because it is red. You can call it something more generic. */

/* Usage
    .myElement {
        animation: alertPulse 1s ease-out;
        animation-iteration-count: infinite;
        opacity: 1; 
    }
*/

@-webkit-keyframes alertPulse {
  0% {
    background-color: #9A2727; opacity: 1;
  }

  50% {
    opacity: red; opacity: 0.75;
  }

  100% {
    opacity: #9A2727; opacity: 1;
  }
}

/* Make the element rotate infinitely. */

/* 
Usage
    .myElement {
        animation: rotating 3s linear infinite;
    }
*/

@-webkit-keyframes rotating {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes rotating {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.pulse {
  -webkit-animation: opacityPulse 4s ease-out;
          animation: opacityPulse 4s ease-out;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  opacity: 1;
}

@import "tailwindcss/components";

@import "tailwindcss/utilities";