---
layout: wrong
title: Designing Tomorrow(s)
---
    <div class="container">
        <div class="moon">
            <div class="hole_1"></div>
            <div class="hole_2"></div>
        </div>
        <div class="meteor meteor-1"></div>
        <div class="meteor meteor-2"></div>
        <div class="meteor meteor-3"></div>
        <div class="meteor meteor-4"></div>
        <div class="meteor meteor-5"></div>
        <div class="starts">
            <div class="star"></div>
            <div class="star"></div>
            <div class="star"></div>
            <div class="star"></div>
            <div class="star"></div>
            <div class="star"></div>
            <div class="star"></div>
            <div class="star"></div>
            <div class="star"></div>
            <div class="star"></div>
            <div class="star"></div>
            <div class="star"></div>
        </div>
    </div>
    <div id="wrongText">
        <span id="wrongMain">404</span>
        <span>This future has not been imagined yet</span>
        <a href="/">Click here to go back to the present</a>
    </div>
