---
layout: default
title: Designing Tomorrow(s)
---

<section class="contentSlice"> 
    <h2 id="mainTitle">Welcome to Designing Tomorrow(s)</h2>
    <p>Here's a spaceship 🚀</p>
</section>
<section class="contentSlice">
    <h2>What is Designing Tomorrow(s)?</h2>
    <p>Designing Tomorrow(s) is a set of tools, methodologies and ideas to do just that: re-design, re-imagine, and re-think our future.</p>
</section>
<section class="contentSlice">
    <h2>At Designing Tomorrow(s), we believe that the future is <span class="pulse">weird</span>.</h2>
    <p>This is because the future doesn’t exist yet; those that talk of the future as a thing we hurtle towards misunderstand it. However, the future is also something that will exist one day and has its roots in the present. The future is a <span class="pulse">weird</span> loop.</p>
</section>
<section class="contentSlice">
    <h2>Why design tomorrow?</h2>
    <p>What if we used this <span class="pulse">weirdness</span> to our advantage? What if, by forcing our imaginations to work with the <span class="pulse">weird</span>, to articulate the <span class="pulse">weird</span>, we could hack, break, and change the stories we tell ourselves about the future? Make these stories more inclusive, more decolonial, more radical?</p>
</section>
<section class="contentSlice sideBySide">
<h2>Intros, engines, and foundations</h2>
<h3>The foundational texts that guide the Designing Tomorrow(s) project in hacking the future</h3>
  <div class="methodRow">
    <div class="methodBox">
      <h4>A Handbook for Desirable Futures</h4>
      <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit</span>
    </div>
    <div class="methodBox"> 
      <h4>Science Fiction as a Tool</h4>
      <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit</span>
    </div>
  </div>
  <div class="methodRow">
    <div class="methodBox"> 
      <h4>Science fiction - now!</h4>
      <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit</span>
    </div>
    <div class="methodBox"> 
      <h4>Spectulation in a World of Prediction</h4>
      <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit</span>
    </div>
  </div>
  <section class="contentSlice sideBySide">
<h2>Intros, engines, and foundations</h2>
<h3>The foundational texts that guide the Designing Tomorrow(s) project in hacking the future</h3>
  <div class="methodRow">
    <div class="methodBox">
      <h4 class="lower">A Handbook for Desirable Futures</h4>
      <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit</span>
    </div>
    <div class="methodBox"> 
      <h4 class="lower">Science Fiction as a Tool</h4>
      <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit</span>
    </div>
  </div>
  <div class="methodRow">
    <div class="methodBox"> 
      <h4 class="lower">Science fiction - now!</h4>
      <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit</span>
    </div>
    <div class="methodBox"> 
      <h4 class="lower">Spectulation in a World of Prediction</h4>
      <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit</span>
    </div>
  </div>
  <section class="contentSlice sideBySide">
<h2>Intros, engines, and foundations</h2>
<h3>The foundational texts that guide the Designing Tomorrow(s) project in hacking the future</h3>
  <div class="methodRow">
    <div class="methodBox">
      <h4 class="lowest">A Handbook for Desirable Futures</h4>
      <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit</span>
    </div>
    <div class="methodBox"> 
      <h4 class="lowest">Science Fiction as a Tool</h4>
      <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit</span>
    </div>
  </div>
  <div class="methodRow">
    <div class="methodBox"> 
      <h4 class="lowest">Science fiction - now!</h4>
      <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit</span>
    </div>
    <div class="methodBox"> 
      <h4 class="lowest">Spectulation in a World of Prediction</h4>
      <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit</span>
    </div>
  </div>
</section>